<!DOCTYPE html>
<html lang="en">
<head>
    <title>Orbit - Bootstrap 5 Resume/CV Template for Developers</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet'>
    <link id="theme-style" rel="stylesheet" href="/css/template4.css">
</head> 

<body>
    <div class="wrapper mt-lg-5">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <% if (data.image) { %>
                    <img class="profile" src="<%= data.image %>" alt="Profile Photo" />
                <% } %>
                <h1 class="name"><%= data.name %></h1>
                <h3 class="tagline"><%= data.tagline || " " %></h3>
            </div>

            <% if (data.email || data.phone || data.website || data.linkedin || data.github ) { %>
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <% if (data.email) { %><li class="email"><i class="fa-solid fa-envelope"></i><a href="mailto:<%= data.email %>"><%= data.email %></a></li><% } %>
                    <% if (data.phone) { %><li class="phone"><i class="fa-solid fa-phone"></i><a href="tel:<%= data.phone %>"><%= data.phone %></a></li><% } %>
                    <% if (data.website) { %><li class="website"><i class="fa-solid fa-globe"></i><a href="<%= data.website %>" target="_blank"><%= data.website %></a></li><% } %>
                    <% if (data.linkedin) { %><li class="linkedin"><i class="fa-brands fa-linkedin-in"></i><a href="<%= data.linkedin %>" target="_blank"><%= data.linkedin %></a></li><% } %>
                    <% if (data.github) { %><li class="github"><i class="fa-brands fa-github"></i><a href="<%= data.github %>" target="_blank"><%= data.github %></a></li><% } %>
                    <% if (data.twitter) { %><li class="twitter"><i class="fa-brands fa-x-twitter"></i><a href="<%= data.twitter %>" target="_blank"><%= data.twitter %></a></li><% } %>
                </ul>
            </div>
            <% } %>

            <% if (data.education && data.education.length > 0) { %>
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <% data.education.forEach(edu => { %>
                    <div class="item">
                        <h4 class="degree"><%= edu.level %></h4>
                        <h5 class="meta"><%= edu.school %></h5>
                        <div class="time"><%= edu.graduationDate %></div>
                    </div>
                <% }) %>
            </div>
            <% } %>

            <% if (data.languages && data.languages.trim().length > 0) { %>
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <% data.languages.split(',').forEach(lang => { %>
                        <li><%= lang.trim() %></li>
                    <% }) %>
                </ul>
            </div>
            <% } %>

            <% if (data.hobbies && data.hobbies.trim().length > 0) { %>
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <% data.hobbies.split(',').forEach(hobby => { %>
                        <li><%= hobby.trim() %></li>
                    <% }) %>
                </ul>
            </div>
            <% } %>
        </div>

        <div class="main-wrapper">
            <% if (data.objective && data.objective.trim().length > 0) { %>
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-user"></i></span>Career Profile</h2>
                <div class="summary">
                    <p><%= data.objective %></p>
                </div>
            </section>
            <% } %>

            <% if (data.experience && data.experience.length > 0) { %>
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Experiences</h2>
                <% data.experience.forEach(exp => { %>
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title"><%= exp.title %></h3>
                                <div class="time"><%= exp.endDate %></div>
                            </div>
                            <div class="company"><%= exp.employer %></div>
                        </div>
                        <div class="details">
                            <p><%= exp.description %></p>
                        </div>
                    </div>
                <% }) %>
            </section>
            <% } %>

            <% if (data.projects && data.projects.length > 0) { %>
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-archive"></i></span>Projects</h2>
                <% data.projects.forEach(project => { %>
                    <div class="item">
                        <span class="project-title"><a href="<%= project.link %>" target="_blank"><%= project.title %></a></span> - 
                        <span class="project-tagline"><%= project.description %></span>
                    </div>
                <% }) %>
            </section>
            <% } %>

            <% if (data.skills && data.skills.trim().length > 0) { 
                const skillsArray = data.skills.split(','); %>
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                <div class="skillset">
                    <ul class="item">
                        <% skillsArray.forEach(skill => { %>
                            <li><%= skill.trim() %></li>
                        <% }) %>
                    </ul>
                </div>
            </section>
            <% } %>

            <% if (data.achievements && data.achievements.trim().length > 0) { %>
            <section class="section awards-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-trophy"></i></span>Achievements</h2>
                <ul>
                    <% data.achievements.split(',').forEach(award => { %>
                        <li><%= award.trim() %></li>
                    <% }) %>
                </ul>
            </section>
            <% } %>
        </div>
    </div>

    
</body>
</html>
